@font-face {
  font-family: 'Integralcf';
  src: url('/fonts/Fontspring-DEMO-integralcf-medium.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Satoshi';
  src: url('/fonts/Satoshi-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SatoshiBold';
  src: url('/fonts/Satoshi-Bold.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
 --blackBgColor: #000000;
 --whiteBgColor: #ffffff;
 --bgLightGrayColor:  #F0F0F0;
 --BannerBgColor: #F2F0F1;
 --redOfferBgColor: #ffc4c4;
 --redTextOfferColor:#FF3333;
 --productDetailBbImageColor: #F0EEED;
 --productDetailBgCircle1: #4F4631;
 --productDetailBgCircle2: #314F4A;
 --productDetailBgCircle3: #31344F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
   --blackBgColor: #000000;
   --whiteBgColor: #ffffff;
   --bgLightGrayColor:  #F0F0F0;
   --BannerBgColor: #F2F0F1;
   --redOfferBgColor: #ffc4c4;
   --redTextOfferColor:#FF3333;
   --productDetailBbImageColor: #F0EEED;
   --productDetailBgCircle1: #4F4631;
   --productDetailBgCircle2: #314F4A;
   --productDetailBgCircle3: #31344F;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: integralcf, satoshi, satoshiBold;
}
@keyframes rotateStar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.star-rotate {
  animation: rotateStar 3s linear infinite;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar {
display:  none;
}